async-timeout==4.0.2
blinker==1.6.2
click==8.0.3
colorama==0.4.4
Flask==2.0.2
Flask-Cors==3.0.10
flask-swagger-ui==4.11.1
greenlet==1.1.2
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
marshmallow==3.14.1
marshmallow-sqlalchemy==0.27.0
psycopg2-binary==2.9.3
python-dotenv==1.0.0
redis==4.5.5
six==1.16.0
SQLAlchemy==1.4.28
typing_extensions==4.5.0
Werkzeug==2.0.2
